.type {
    color: #0000FF;
    display: inline;
}

body {
    background: #1c1c1c;
    font-family: 'Courier New', Courier, monospaces;
}

/* p {
    display: inline;
} */

.reserved-word{
    color: #4A9CD6;
    display: inline;
}

.comment {
    color: #84B371;
    display: inline;
}

.operator {
    color: #fff;
    display: inline;
}

.literal{
    color: #a9cbea;
    display: inline;
}

.string{
    color: rgb(209, 132, 31);
    display: inline;
}

.function{
    color: #DCDCAA;
    display: inline;
}

.delimiter{
    color: #EDDA61;
    display: inline;
}

.variable {
    color: rgb(82, 189, 199);
    display: inline;
}

.control{
    color: #ea7ae6;
    display: inline;
}